<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<div id="content"></div>
		{% csrf_token %}
		<div id="logged" style="display: flex; flex-wrap: wrap; flex-direction: row;">
			<p>Coucou bienvenue sur le site <p id="username"></p></p>
			<img id='image' style="width: 100;">
			<div style="display: flex; flex-wrap: wrap; flex-direction: row; justify-content: space-evenly;">
				<div>
					<h1>Profile picture change</h1>
					<form action="/api/dashboard?filter=profilePicture" method="post" enctype="multipart/form-data">
						<label for="profilePicture">La nouvelle photo de profile !</label><br>
						<input type="file" name="profilePicture"><br>
						<input type="submit" value="Changer la photo de profile">
					</form>
				</div>
	
				<div>
					<h1>Friends</h1>
					<form action="/api/dashboard/friends" method="post" id="form-friends">
						<label for="action">Action :</label><br>
						 <input type="text" id="action" name="action"><br>
						 <label for="username">Username:</label><br>
						<input type="text" id="username" name="username">
						<input type="submit" value="action on friend system">
					</form>
				</div>
			</div>
			
			<div style="display: flex; flex-wrap: wrap; flex-direction: row; justify-content: space-evenly;">
				<div>
					<h1>Password change</h1>
					<form action="/api/dashboard?filter=password" method="post">
						<label for="actual-password">Actual password :</label><br>
						<input type="text" id="actualPassword" name="actualPassword"><br>
						<label for="password">New password:</label><br>
						<input type="text" id="password" name="newPassword">
						<input type="submit" value="changerlemotpasse">
					</form>		
				</div>
	
				<h1>Logout</h1>
				<form action="/auth/logout" method="post">
					{% csrf_token %}
					<input type="submit" value="Se déconnecter">
				</form>
			</div>
			
			<div style="display: flex; flex-wrap: wrap; flex-direction: row; justify-content: space-between;">
				<h1>Send messages</h1>
				<div style="display: flex;">
					<div>
						<input id="chat-message-target" type="text" size="10"><br>
						<label for="chat-message-target">Target</label>
					</div>
					<div>
						<input id="chat-message-input" type="text" size="50"><br>
						<label for="chat-message-input">Content</label>
					</div>
					<div>
						<input id="chat-message-submit" type="button" value="Send">
					</div>
				</div>
	
				<div>
					<h1>Activity</h1>
					<textarea id="activity-log" cols="30" rows="10"></textarea><br>
					<button id='button-match' type="button">Join matchmaking !</button>
				</div>
				<div style="display: flex;">
					<div>
						<input id="room-id-input" type="text" size="20"><br>
						<label for="room-id-input">Room-ID | Room mode</label>
					</div>
					<div>
						<input id="button-join" type="button" value="Join">
						<input id="button-create" type="button" value="Create">
					</div>
				</div>
			</div>
		</div>
		
		<div id="unlogged">
			<h1>Login with 42</h1>
			<form action="/api/auth/login?mode=42" method="post" class='ajax-form'>
				<input type="submit" value="Sign in with 42">
			</form>

			<h1>Login with Intern</h1>
			<form action="/api/auth/login?mode=intern" method="post" class="ajax-form">
				<label for="username">Username:</label>
  				<input type="text" id="username" name="username"><br>
				<label for="password">Password:</label>
  				<input type="password" id="password" name="password"><br>
				<input type="submit" value="Sign in with Intern">
			</form>

			<h1>Register with Intern</h1>
			<form action="/api/auth/register" method="post" class='ajax-form'>
				<label for="username">Username:</label>
  				<input type="text" id="username" name="username"><br>
				<label for="email">Email:</label>
  				<input type="email" id="email" name="email"><br>
				<label for="password">Password:</label>
  				<input type="password" id="password" name="password"><br>
				<input type="submit" value="Register with Intern">
			</form>
		</div>
		<script src='/static/request.js'></script>
		<script src='/static/websocket.js'></script>
		<script src='/static/index.js'></script>
	</body>
</html>