<html>
	<body>
		<p>Coucou bienvenue sur le site <strong>{{ user.username }}</strong> </p>
		<script></script>
		<div id="content"></div>

		<img id='image' style="width: 100;">

		<div style="display: flex; justify-content: space-between;">
			<div>
				<h1>Profile picture change</h1>
				<form action="/dashboard?filter=profilePicture" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<label for="profilePicture">la nouvel photo bg</label><br>
 					<input type="file" name="profilePicture"><br>
					<input type="submit" value="Changer la photo de profile">
				</form>
			</div>
			<div>
				<h1>Friends</h1>
				<form action="/dashboard/friends" method="post">
					{% csrf_token %}
					<label for="action">Action :</label><br>
				 	<input type="text" id="action" name="action"><br>
				 	<label for="username">Username:</label><br>
				  	<input type="text" id="username" name="username">
				<input type="submit" value="action on friend system">
				</form>
			</div>
			<div>
				<h1>Password change</h1>
				<form action="/dashboard?filter=password" method="post">
					{% csrf_token %}
					<label for="actual-password">Actual password :</label><br>
					 <input type="text" id="actualPassword" name="actualPassword"><br>
					  <label for="password">New password:</label><br>
					  <input type="text" id="password" name="newPassword">
					<input type="submit" value="changerlemotpasse">
				</form>		
			</div>
		</div>
		

		<h1>Logout</h1>
		<form action="/auth/logout" method="post">
			{% csrf_token %}
			<input type="submit" value="Se déconnecter">
		</form>


		<h1>Activity</h1>
		<textarea id="activity-log" cols="30" rows="20"></textarea><br>
    <script>
        const chatSocket = new WebSocket(
            'wss://'
            + window.location.host
            + '/activity/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
			const stringifiedData = JSON.stringify(data)
            document.querySelector('#activity-log').value += stringifiedData +'\n';
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };


		fetch('/dashboard?filter=profilePicture')
			.then(response => response.json())
			.then(response => {
				const data = JSON.stringify(response)
				const image = document.getElementById('image')
				image.src = response['profilePicture']
			})
    </script>
	</body>
</html>