/* chatList */


/* Pour la barre de recherche */
.conversation-list-searchbar-container {
	padding-bottom: 1em;
}

.conversation-list-searchbar-input {
    width: 100%;
    padding: 5px;
	border-radius: 20px;
}

/* Pour les boutons de contact */
.conversation-list-contact-container {
    display: flex;
    flex-direction: column;
	gap: 0.4em;
}

.conversation-list-contact-button {
    width: 100%;
    padding: 0.7em;
    background-color: rgba(0, 0, 0, 0.25);
    border: 0px solid #ccc; 
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.conversation-list-contact-button img {
    width: 3em;
    border-radius: 0.8em;
    margin-right: 10px; /* Espacement entre l'image et le texte */
}

.conversation-list-contact-button .conversation-list-user {
    font-weight: bold; 
	font-style: italic;
	color: #DADADA;
}

.conversation-list-contact-button .conversation-list-last-message {
    color: #666; /* Couleur du texte */
	background-color: red;
}


























/* chatDisplay */

.message-sent {
    background-color: #007bff; /* bleu */
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    margin: 10px 10px 10px 50px; /* marge haut, droite, bas, gauche */
}

.message-received {
    background-color: #f8f9fa; /* gris */
    color: #495057;
    padding: 8px 16px;
    border-radius: 8px;
    margin: 10px 50px 10px 10px; /* marge haut, droite, bas, gauche */
}
  
  .conversation-display-messages {
	height: 400px; /* vous pouvez ajuster la hauteur selon vos besoins */
	overflow-y: auto; /* permet de rendre la div scrollable si les messages sont trop nombreux */
	margin-bottom: 10px;
  }
  
  .conversation-display-input {
	display: flex; /* permet d'aligner l'input et le bouton côte à côte */
	justify-content: space-between; /* permet d'aligner l'input à gauche et le bouton à droite */
  }
  
  .message-input {
	flex-grow: 1; /* permet à l'input de prendre toute la largeur disponible */
	margin-right: 10px; /* ajoute une marge à droite de l'input pour séparer l'input et le bouton */
  }
  