.message-sent {
    background-color: #007bff; /* bleu */
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    margin: 10px 10px 10px 50px; /* marge haut, droite, bas, gauche */
}

.message-received {
    background-color: #f8f9fa; /* gris */
    color: #495057;
    padding: 8px 16px;
    border-radius: 8px;
    margin: 10px 50px 10px 10px; /* marge haut, droite, bas, gauche */
}