/* Picture, name and button */

.perso-info-container {
    display: flex;
    align-items: center;
	background-color: rebeccapurple;
	margin-bottom: 1em;
}

.profile-image {
	width: 35%;
	height: 35%;
	background-color: violet;
	border-radius: 10px;
	margin-right: 1em;
}

.name-actions-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
}

.username {
	color: #05FF00;
    font-weight: bold;
	font-style: italic;
    margin-bottom: 1em;
}

.action-buttons {
    display: flex;
    gap: 10px;
}

.action-button {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.arrow-back {
    background: none;
    border: none;
    cursor: pointer;
}

/* Statistic */

.perso-scores-div {
	background-color: red;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	overflow-y: scroll;
	height: 23em;
}

.perso-scores-div > * {
	margin-bottom: 0.5em;
}

.perso-scores-stat-square-div {
	padding: 0.5em;
	width: 9.5em;
	height: 9.5em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	
    overflow: hidden;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.25);
}

.perso-scores-stat-rectangle-div {
	padding: 0.5em;
	width: calc(100%);
	height: 9.5em;
    overflow: hidden;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.25);
}

.perso-scores-stat-title {
	color: #B4B4B4;
	font-family: "Roboto Mono", monospace;
	font-size: 0.9em;
	font-weight: 500;
}

.perso-scores-stat-title img {
	width: 1.5em;
	margin-right: 0.5em;
}

.perso-scores-stat-data {
	color: #DADADA;
	font-family: "Roboto Mono", monospace;
	font-size: 2.8em;
	font-style: normal;
	/* font-weight: 700; */
	line-height: 18px; /* 56.25% */
}

.perso-scores-stat-description {
	color: #FFF;
	font-family: "Roboto Mono", monospace;
	font-size: 0.7em;
	font-style: normal;
	font-weight: 400;
	line-height: 18px; /* 180% */
}
