:root {
	--default-radius: 1em;
	--default-gray: #B4B4B4;
	--default-baba: #DADADA;
	--default-green: #05FF00;

}	

body {
	font-family: "Roboto Mono", monospace;
}

.home-div {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
	
    height: 100vh;
	/* border: 1px solid #0800ff; */
}

.game-div {
	/* margin-right: 20px;  */
	
	width: 950px;
	height: 700px;
}

.social-div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	width: 350px;
	height: 700px;
	
	/* border: 1px solid #0800ff; */
}

.social-display-div {
    width: 100%; /* 50% de la largeur du conteneur parent */
    height: 80%; /* 40% de la hauteur de la fenêtre visible */
}

.social-button-div {
	width: 100%; /* 50% de la largeur du conteneur parent */
	height: 13%; /* 40% de la hauteur de la fenêtre visible */
	
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1em;
	gap: 0.8em;
}

.icon-button {
	padding-right: 0.4em;
}


/* inside social-display-div */

.settings-div {
	display: flex;
	justify-content: start;
	flex-direction: column;
	color: var(--default-gray);
	padding: 1em;
}

/* text */

.title-1 {
	text-align: left;
	font-size: 3em;
	font-weight: 700;
}

.title-2 {
	text-align: left;
	font-size: 1.7em;
	font-weight: 700;
}

.title-3 {
	font-size: 1.3em;
}

.greened {
	color: var(--default-green);
}

.body-text {
	color: #000000;
	font-size: 0.9em;
	font-style: normal;
	font-weight: 400;
	text-align: left;
}

.settings-text {
	color: white;
	padding-bottom: 1em;
}

/* icon */

.modify-btn {
	font-size: 1em;
	padding: 1em !important;
	margin-bottom: 1em;
}

.overlay-zone {
	display: flex;
	margin-left: -1em;
	padding-top: 1em;
	margin-right: -1em;
	justify-content: center;
	margin-top: -4em;
	border-bottom-right-radius: var(--default-radius);
	border-bottom-left-radius: var(--default-radius);
	background: rgba(0, 0, 0, 0.01);
	backdrop-filter: blur(9px);
}

.overlay-btn {
	width: calc(100% - 2em);
}

  .modify-btn:hover {background-color: #e7e7e7;}
  
  .logo-left,
  .logo-right {
	width: 24px; /* Largeur des logos SVG */
	height: 24px; /* Hauteur des logos SVG */
  }
  
  .logo-left {
	margin-right: 8px; /* Espacement à droite du logo gauche */
  }
  
  .logo-right {
	margin-left: 8px; /* Espacement à gauche du logo droit */
  }
  
  .btn-title {
	flex-grow: 1; /* Titre occupe tout l'espace restant */
	text-align: left;
	font-family: "Roboto Mono", monospace;
  }

/* login style */

.form-floating.fixed > .form-control-plaintext ~ label::after,
.form-floating.fixed > .form-control:focus ~ label::after,
.form-floating.fixed > .form-control:not(:placeholder-shown) ~ label::after,
.form-floating.fixed > .form-select ~ label::after {
    background-color: transparent;
}

.dark-form {
	padding: 40px;
	border-radius: 40px;
	border: 1px solid rgba(255, 255, 255, 0.29);
	background: linear-gradient(334deg, rgba(255, 255, 255, 0.10) 13.43%, rgba(255, 255, 255, 0.40) 97.55%);
	box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.20);
	backdrop-filter: blur(10px);
	/* margin: 20vh auto; */
	margin-left: 5px; 
}

.dark-form h1 {
	color: var(--default-green);
	/* font-style: normal; */
	/* mix-blend-mode: overlay; */
}

.form-label {
	color: var(--default-gray);
}

.dark-form input {
	border-radius: var(--default-radius);
	border-color: transparent;
	background-color: rgba(68, 68, 68, 0.5);
	color: var(--default-baba) !important;
}

.dark-form input:focus {
	border-radius: var(--default-radius);
	border-color: #028a00;
	background-color: rgba(68, 68, 68, 0.5);
}

.dark-form-input {
	border-radius: var(--default-radius);
	border-color: transparent;
	background-color: rgba(68, 68, 68, 0.5);
	color: var(--default-gray) !important;
}

.dark-form-input:focus {
	border-radius: var(--default-radius);
	border-color: #028a00;
	background-color: rgba(68, 68, 68, 0.5);
}

.custom-file-input {
	display: flex;
	flex-direction: column;
	padding-top: 3em;
	padding-bottom: 3em;
	margin-bottom: 0.5em;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.25);;
	border-radius: var(--default-radius);
}

.custom-file-input label:hover {
	cursor: pointer;
}

.custom-file-input input[type="file"] {
	display: none;
  }

.item-spacer {
	padding-bottom: 1em;
}

.dark-form button {
	font-weight: 600;
}

.dark-form-green-button {
	background-color: #04ff00f2;
	border-color: transparent;
	padding: 0.5em;
	color: black;
}

.dark-form-green-button:hover{
	background-color: #1e9b1c;
	border-color: transparent;
}

.bordered-button {
	background-color: rgba(218, 218, 218, 0.25);
	padding: 0.4em;
	color: var(--main_color);
	border-color: var(--main_color);
	border-radius: var(--default-radius);
	border-width: 0.2em;
}

.bordered-button-expanded {
	background-color: rgba(218, 218, 218, 0.25);
	padding: 0.7em;
	color: var(--main_color);
	border-color: var(--main_color);
	border-radius: var(--default-radius);
	border-width: 0.2em;
}

.bordered-button-expanded:hover {
	background-color: rgba(235, 234, 234, 0.506);
	color: white;
}

.bordered-button-logout {
	background-color: rgba(70, 70, 70, 0.205);
}

.text-button {
	font-size: 0.8em;
	text-decoration: underline;
	font-weight: 300 !important;
	background: none;
	color: rgba(245, 245, 245, 0.604);
	border: none;
}

.form-tab {
	width: 100%;
	height: 0.1em;
	background-color: white;
}

#picture-42 {
	width: 1.7em;
}

#orDiv {
	color: white;
}


.box-style {
	/* border: 1px solid rgb(0, 255, 42);
	background-color:rgb(255, 255, 255); */

	border-radius: 25px;
	border: 1px solid rgba(255, 255, 255, 0.29);
	background: linear-gradient(334deg, rgba(255, 255, 255, 0.10) 13.43%, rgba(255, 255, 255, 0.40) 97.55%);
	box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.20);
	backdrop-filter: blur(100px);
}

/* item: nth-child (2){} */


.modify-game-theme-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	overflow-y: auto;
	max-height: 24em; /* bottom limit where the overflow stop */
}

.modify-game-theme-container > * {
    flex: 0 1 calc(50% - 10px);
	margin-bottom: 0.5em;
}

.modify-game-theme-image-container {
    width: calc(50% - 10px);
    padding-bottom: calc(50% - 10px); 
    position: relative;
    overflow: hidden;
	border-radius: 10px;
}

.modify-game-theme-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* style pour les div selected dans le menu gameTheme */

.selectable {
	border: 3px solid transparent;
	cursor: pointer;
  }
  .selected {
	border-color: var(--default-green);
  }
