.home {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
	
    height: 100vh;
	border: 1px solid #0800ff;
}

.glass-morphism {
	border: 1px solid rgb(0, 255, 42);
	background-color:rgb(255, 255, 255);
	

	/* border-radius: 25px;
	border: 1px solid rgba(5, 255, 0, 0.29);
	background: linear-gradient(334deg, rgba(255, 255, 255, 0.10) 13.43%, rgba(255, 255, 255, 0.40) 97.55%);
	box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.20);
	backdrop-filter: blur(10px); */
}

.game-div {
	/* margin-right: 20px;  */
	
	width: 950px;
	height: 700px;
}

.social-div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	width: 350px;
	height: 700px;
	
	border: 1px solid #0800ff;
}

.social-display-div {
    width: 100%; /* 50% de la largeur du conteneur parent */
    height: 80%; /* 40% de la hauteur de la fenêtre visible */

	display: flex;
	flex-direction: column;
	/* justify-content: space-evenly; */
	gap: 10px; /* Espace entre les éléments enfants */

	
}

.social-button-div {
	width: 100%; /* 50% de la largeur du conteneur parent */
    height: 15%; /* 40% de la hauteur de la fenêtre visible */
	
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 10px; /* Espace entre les éléments enfants */

}


.title-1 {
	text-align: left;
	margin: 0 15px;
	font-family: "Roboto Mono", monospace;
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
}

.body-text {
	color: #7B7B7B;
	font-family: "Roboto Mono", monospace;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	text-align: left;
	margin: 0 15px;
	font-family: "Roboto Mono", monospace;
}
  



/* item: nth-child (2){} */


.arrow-back {
	margin: 10px 15px 0;
	background-color: transparent;
	border: none;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 36px; /* Largeur du bouton */
	height: 36px; /* Hauteur du bouton */
  }
  
.arrow-back svg {
	width: 100%; /* Prend la largeur complète du bouton */
	height: 100%; /* Prend la hauteur complète du bouton */
  }

.modify-btn {
	display: inline-flex;
	align-items: center;
	border: 0px solid #ccc;
	border-radius: 4px;
	padding: 12px 16px;
	font-size: 16px;
	background-color: #EDEDED;

	margin: 0 15px;

  }

  .modify-btn:hover {background-color: #e7e7e7;}
  
  .logo-left,
  .logo-right {
	width: 24px; /* Largeur des logos SVG */
	height: 24px; /* Hauteur des logos SVG */
  }
  
  .logo-left {
	margin-right: 8px; /* Espacement à droite du logo gauche */
  }
  
  .logo-right {
	margin-left: 8px; /* Espacement à gauche du logo droit */
  }
  
  .btn-title {
	flex-grow: 1; /* Titre occupe tout l'espace restant */
	text-align: left;
	font-family: "Roboto Mono", monospace;

  }
  
















.login-form {
	padding: 40px;
	border-radius: 40px;
	border: 1px solid rgba(5, 255, 0, 0.29);
	background: linear-gradient(334deg, rgba(255, 255, 255, 0.10) 13.43%, rgba(255, 255, 255, 0.40) 97.55%);
	box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.20);
	backdrop-filter: blur(10px);
	/* margin: 20vh auto; */
	margin-left: 5px; 

}

.login-form h1 {
	color: #05FF00;
	font-family: "Roboto Mono", monospace;
	/* font-style: normal; */
	/* mix-blend-mode: overlay; */
}

.login-form input {
	border-radius: 5px;
	background-color: rgba(68, 68, 68, 0.5);
}

.login-form button {
	background-color: #05FF00;
	color: black;
	font-family: "Roboto Mono", monospace;
	font-weight: 700;
	
  }
  
