@import url('variables.css');

.dark-form-green-button {
	background-color: #04ff00f2;
	border-color: transparent;
	padding: 0.5em;
	color: black;
}

.dark-form button {
	font-weight: 600;
}

.dark-form-green-button:hover{
	background-color: #1e9b1c;
	border-color: transparent;
}

.bordered-button {
	background-color: rgba(218, 218, 218, 0.25);
	padding: 0.4em;
	color: var(--main_color);
	border-color: var(--main_color);
	border-radius: var(--default-radius);
	border-width: 0.2em;
}

@media screen and (max-width : 1800px) {
	.nav-bar-btn {
	   font-size: 1.5vw;
	}
}

.bordered-button-expanded {
	background-color: rgba(218, 218, 218, 0.25);
	padding: 0.7em;
	color: var(--main_color);
	border-color: var(--main_color);
	border-radius: var(--default-radius);
	border-width: 0.2em;
}

.bordered-button-expanded:hover {
	background-color: rgba(235, 234, 234, 0.506);
	color: white;
}

.bordered-button-logout {
	background-color: #46464634;
}

.text-button {
	font-size: 0.8em;
	text-decoration: underline;
	font-weight: 300 !important;
	background: none;
	color: rgba(245, 245, 245, 0.604);
	border: none;
}

.nav-bar-btn {
	background-color: var(--background-nav);
}

.nav-bar-btn:hover {
	background-color: var(--background-nav);
	border-color: var(--default_hover);
	color: var(--default_hover);
}

.modify-btn {
	font-size: 1em;
	padding: 1em !important;
	width: 100%;
}

.icon-button {
	padding-right: 0.4em;
}

.modify-btn:hover {
	background-color: #e7e7e7;
}

.btn-title {
	flex-grow: 1;
	text-align: left;
	font-family: "monospace;
}

.btn-settings {
	margin-bottom: 2%;
}