@import url('variables.css');

#conversation-display {
	width: 100%;
	height: 100%;
}

.conversation-list-contact-button {
    width: 100%;
    padding: 0.7em;
    background-color: rgba(0, 0, 0, 0.25);
    border: 0px solid #ccc; 
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.conversation-list-contact-button img {
	aspect-ratio: 1;
	width: 18%;
    border-radius: 0.8em;
    margin-right: 1em;
}

.conversation-list-contact-button .conversation-list-user {
    font-weight: bold; 
	font-style: italic;
	color: var(--default-baba);;
}

.conversation-list-contact-button .conversation-list-last-message {
    color: #666;
	background-color: yellow;
}


/* chatDisplay */
.conversation-block-bottom {
	flex-direction: column;
	height: 88%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.conversation-display-messages {
	-webkit-mask: 
    	linear-gradient(to top, black 95%, transparent 100%),
    	linear-gradient(to bottom, black 95%, transparent 100%);
	-webkit-mask-composite: destination-in;
	padding-top: 1em;
	padding-bottom: 1em;
	width: 100%;
	height: 100%; 
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}

.message {
	display: inline-flex;
	align-items: center;
}

.message span {
	color: var(--default-baba);;
    padding: 0.5em 1em;
	border-radius: 10px;
	text-align: left;
	overflow-wrap: break-word;
	margin-bottom: 1em;
	max-width: 17em;
}

.message-sent {
	justify-content: right;
}

.message-sent span {
	background: rgba(5, 255, 0, 0.25);
}

.message-received {
	justify-content: left;
}

.message-received span {
	background: rgba(0, 0, 0, 0.25);
}
  
.conversation-display-top {
	height: 12%;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.conversation-display-top-person {
	display: flex;
	height: 90%;
	padding: 0.2em;
	margin-left: 1em;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	margin-left: 2.5em;
	border-radius: 10px;
	width: 70%;
	color: var(--default-gray);
	font-style: italic;
	background: rgba(180, 180, 180, 0.25);
}

.conversation-display-top-person img {
	width: 3em;
	padding: 0.2em;
	border-radius: 10px;
	margin-right: 0.4em;
}
  
.conversation-display-input {
	display: flex; 
	width: 100%;
	justify-content: space-between;
	background: rgba(180, 180, 180, 0.25);
	height: 3em;
	padding: 0.5em;
	padding-left: 1em;
	border-radius: 20px;
}

.conversation-display-input button {
	background: rgba(180, 180, 180, 0.25);
	border: 0px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.conversation-display-input input, input::placeholder, label{
	background: transparent;
	border: 0px;
	color: var(--default-gray);
}

.conversation-display-input input:focus {
	outline: none;
}