@import url('variables.css');
/* Picture, name and button */

.perso-info-container {
    display: flex;
    align-items: end;
	margin-bottom: 1vw;
}

.perso-info-container-left {
	width: 35%;
	height: 35%;
}

.perso-info-container-left img {
	width: 100%;
	aspect-ratio: 1;
	border-radius: 10px;
}

.perso-info-container-left-status {
	width: 7%;
	aspect-ratio: 1;
	border-radius: 5vw;
	margin-left: -7%;
	background: var(--item-color);
}

.perso-info-container-right {
	margin-left: 1em;
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: start;
}

.perso-info-container-actions {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
}

.username {
	color: var(--default-green);
    font-weight: bold;
	font-style: italic;
}

.action-button {
    width: 35%;
	aspect-ratio: 1;
	margin-right: 0.5em;
    border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.25);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.action-button img{
    width: 100%;
}

.arrow-back {
	margin-bottom: 1em;
    background: none;
    border: none;
    cursor: pointer;
}

/* Statistic */

#profil {
	width: 100%;
	height: 100%;
}

.perso-scores-div {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	overflow-y: auto;
	height: 68%;
	-webkit-mask: 
    	linear-gradient(to top, black 95%, transparent 100%),
    	linear-gradient(to bottom, black 95%, transparent 100%);
	-webkit-mask-composite: destination-in;
}

.perso-scores-div > * {
	margin-bottom: 6%;
}

.perso-scores-stat-square-div {
	padding: 0.5em;
	width: 47%;
	aspect-ratio: 1/1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	
    overflow: hidden;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.25);
}

.perso-scores-stat-rectangle-div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;

	padding: 0.5em;
	width: calc(100%);
	width: 100%;
	aspect-ratio: 2.11/1;
    overflow: hidden;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.25);
}

.perso-scores-stat-rectangle-div img {
	width: 10% !important;
}

.perso-scores-stat-title {
	color: var(--default-gray);
	font-family: "Roboto Mono", monospace;
	font-size: 0.7em;
	font-weight: 500;
}

.perso-scores-stat-title img {
	width: 20%;
	margin-right: 0.5em;
}

.perso-scores-stat-data {
	color: white;
	font-family: "Roboto Mono", monospace;
	font-size: 2.8em;
	font-style: normal;
}

.perso-scores-stat-description {
	color: #FFF;
	font-family: "Roboto Mono", monospace;
	font-size: 0.7em;
	font-style: normal;
	font-weight: 400;
}
