@import url('variables.css');

/* text */
.title-1 {
	font-size: 3em;
	font-weight: 700;
}

.title-2 {
	font-size: 1.7em;
	font-weight: 700;
}

.title-3 {
	font-size: 1.5em;
	font-weight: 700;
}

.title-4 {
	font-size: 1.3em;
}

.greened {
	color: var(--default-green);
}

.body-text {
	color: #000000;
	font-size: 0.9em;
	font-style: normal;
	font-weight: 400;
	text-align: left;
}

.settings-text {
	color: white;
	padding-bottom: 1em;
}


#picture-42 {
	width: 1.7em;
}

#orDiv {
	color: white;
}

.selectable {
	border: 3px solid transparent;
	cursor: pointer;
}

.selected {
	border-color: var(--default-green);
}