#tournament {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	font-family: monospace;
	justify-content: center;
}

.tournament-row {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 100%;
}

.tournament-form {
	padding: 1%;
	font-size: 2.5vmin;
	width: 80%;
	height: var(--height);
	border-radius: 10px;
	display: flex;
	flex-direction: var(--direction);
	align-items: center;
	justify-content: space-around;
	background: rgba(0, 0, 0, 0.25);
}

#tournament-form-middle {
	height: 80%;
	width: 2%;
	border-radius: 4px;
	background-color: black;
}

.tournament-form-child {
	height: 80%;
	width: 35%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.tournament-form-child-child {
	width: 80%;
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

/* OTHER */

#tournament-form-top {
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#tournament-form-top-left {
	display: flex;
	width: 45%;
	white-space: nowrap;
	justify-content: space-between
}


#tournament-form-top-right {
	display: flex;
	justify-content: end;
	align-items: center;
}

#tournament-form-top-right:hover {
	cursor: pointer;
}

#tournament-form-content {
	overflow: hidden;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	width: 90%;
	height: 80%;
	padding-top: 2%;
	-webkit-mask: 
    	linear-gradient(to top, black 95%, transparent 100%),
    	linear-gradient(to bottom, black 95%, transparent 100%);
	-webkit-mask-composite: destination-in;
}

.tournament-form-content-children {
	font-size: 1.9vmin;
	margin-bottom: 4%;
	padding: 1%;
	padding-left: 2%;
	background-color: rgba(0, 194, 255, var(--opacity));
	backdrop-filter: blur(20px);
	border-radius: 7px;
	color: #00C2FF
}

.tournament-name {
	font-weight: bolder;
}

.tournament-text-italic {
	font-weight: 100;
	font-style: italic;
}

#tournament-escape {
	padding-bottom: 2%;
}

#tournament-js-code-display {
	font-weight: bold;
	color: #05FF00;
	cursor: pointer;
	transition: 400ms;
}