#game {
	width: 80%;
	height: 80%;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(146,61,166,1) 11%, rgba(29,219,155,1) 42%, rgba(0,212,255,1) 100%);
	display: flex;
	align-items: center;
	justify-content: center;
}

.tournament-form {
	font-size: 2.5vmin;
	width: 80%;
	height: var(--height);
	border-radius: 10px;
	display: flex;
	flex-direction: var(--direction);
	align-items: center;
	justify-content: space-around;
	background-color: rgba(0, 0, 0, 0.21);
	backdrop-filter: blur(20px);
}

#tournament-form-middle {
	height: 80%;
	width: 2%;
	border-radius: 4px;
	background-color: black;
}

.tournament-form-child {
	height: 80%;
	width: 35%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.tournament-form-child-child {
	width: 80%;
	height: 70%;
	font-family: 'Roboto Mono';
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

/* OTHER */

#tournament-form-top {
	width: 90%;
	font-family: Roboto Mono;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#tournament-form-top-left {
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
}

#tournament-form-top-right {
	display: flex;
	flex-grow: 10;
	justify-content: end;
}

#tournament-form-top-right:hover {
	cursor: pointer;
}

#tournament-form-content{
	overflow: scroll;
	display: flex;
	flex-direction: column;
	width: 90%;
	height: 80%;
	font-family: 'Roboto Mono';
}

.tournament-form-content-children {
	font-size: 1.9vmin;
	margin-bottom: 4%;
	padding: 1%;
	padding-left: 2%;
	background-color: rgba(255, 255, 255, var(--opacity));
	backdrop-filter: blur(20px);
	border-radius: 7px;
}

.tournament-name {
	font-weight: bolder;
}

.tournament-text-italic {
	font-weight: 100;
	font-style: italic;
}