
.background-container {
	width: 100%;
	height: 400px;
	background-image: url('assets/images/background3.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	animation: scrollBackground 20s linear infinite;
  }
  
  @keyframes scrollBackground {
	0% {
	  background-position: 0 0;
	}
	100% {
	  background-position: 100% 0;
	}
  }