<html>
	<head>
		<style>
			p {
				font-family: 'Robotto Mono', monospace;
			}
		</style>
	</head>
	<body>
		<p>Dear {{ username }},</p><br>
		<p>We've received your request to reset your pokePong account password. Below is your new password:</p>
		<strong>{{ password }}</strong>
		<p>Please use this password to log in to your pokePong account. For security reasons, you won't be able to change your password again for the next 5 minutes.</p>
		<p>If you have any questions or concerns, feel free to contact us at ft.pokepong@gmail.com.</p><br>
		<p>Best regards,</p>
		<p style="font-style: italic;">The pokePong Team</p>
	</body>
</html>